{
  "name": "{{ name }}",
  "version": "0.1.0",
  "description": "{{ description }}",
  "license": "{{ license }}",
  "type": "module",
  "main": "src/index.js",
  "scripts": {
    "build": "echo build",
    "test": "node --test",
    "lint": "echo lint",
    "fmt": "echo fmt",
    "fmt:check": "echo fmt-check"
  },
  "author": "{{ author_name }} <{{ author_email }}>"
}
